[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipykernel = "*"
jupyter = "*"

[packages]
pandas = "*"
numpy = "*"
autograd = "*"
matplotlib = "*"
scipy = "*"
wandb = "*"
pillow = "*"
ipdb = "*"

[requires]
python_version = "3.7"
